.car-sale {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 100px;
    max-width: 1200px;
    margin-bottom: 200px;
}

#logo {
    font-size: 24px;
    font-weight: bold;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
}

#user-profile {
    font-size: 16px;
}

aside#filters {
    width: 20%;
    padding: 20px;
}


#search input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#filters {
    background-color: #f5f5f5;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#filter-options {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.filter-choice {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

    .filter-choice p {
        margin: 0;
        padding-bottom: 5px;
        font-weight: bold;
    }

    .filter-choice select {
        width: auto;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: #f9f9f9;
        cursor: pointer;
    }

/* Clear button styles */
#clear-filters {
    background-color: #419fe4;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

/* Search input styles */
#search input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}



#car-listings {
    width: 75%;
    padding: 20px;
}

#sorting {
    margin-bottom: 20px;
    display:flex;
}

.paging-result {
    margin-right: auto;
}
.sorting-option {
    margin-left: auto
}

.car-card {
    display: flex;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    transition: box-shadow 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f5f5f5;
}

    .car-card:hover {
        box-shadow: 0 0 15px rgba(76, 175, 80, 0.7);
    }

.car-image {
    flex: 0 0 370px;
    height: 277.5px;
    overflow: hidden;
    margin-right: 20px;
    position: relative;
}

    .car-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

.image-count {
    position: absolute;
    bottom: 5px;
    right: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px;
    font-size: 0.8em;
}

.car-details {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

    .car-details h3, .car-details .price, .car-details .details {
        margin: 0;
        padding: 2px 0;
    }

.dealer-info .dealer-link {
    color: #0000EE;
    text-decoration: none;
    position: relative;
}

    .dealer-info .dealer-link:hover {
        text-decoration: underline;
    }

        .dealer-info .dealer-link:hover::after {
            position: absolute;
            right: -20px;
            top: 0;
            font-size: 16px;
            color: #0000EE;
        }

#pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

#previous, #next {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.clear-filters {
    display: flex;
    align-content: space-between;
}

.clear-filters p{
    margin-right:auto
}
    .clear-filters button {
        padding: 0;
        border: none;
        background: none;
        cursor: pointer;
        color: #419fe4;
    }

.used-car-info {
    display: flex;
    justify-content: space-between;
}

.used-car-info-container {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: space-between;
    flex-grow: 1; 
    padding-left: 20px;
}

.used-car-info-container > div{
}

.description {
    width: 100%;
    bottom: 0;
    text-align: left;
}

.carlink {
    text-decoration:none
}

@media (max-width: 768px) {
    aside#filters,
    #car-listings {
        width: 100%;
        padding: 10px;
    }

    .car-sale {
        flex-direction: column;
        align-items: center;
    }
}