@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
.availability-section {
    position: sticky;
    top: 20px;
}


.car-image {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 500px;
}


    .car-image img {
        max-width: 100%;
        max-height: 100%;
        object-fit: fill;
    }


.dealer-car-sales-images-arrow-left,
.dealer-car-sales-images-arrow-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: #007BFF;
    padding: 0;
    margin: 0;
    outline: none;
}

.dealer-car-sales-images-arrow-left {
    left: 10px;
}

.dealer-car-sales-images-arrow-right {
    right: 10px;
}

.image-count {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px;
    font-size: 0.8em;
}

.vehicle-highlights-box, .dealer-details-box, .sales-description, .car-image-section {
    padding-right:20px;
    padding-left:20px;
}

.availability-section {
    padding-right: 60px;
}

.vehicle-highlights-box .box div {
    display: flex;
    flex-wrap: wrap;
    width: 96.5%;
}

.vehicle-highlights-box, .dealer-details-box h2 {
    text-align: left;
    padding-top: 50px;
}

.first-section div:nth-child(n+1){
    width: 25%;
    flex-direction:column;
}

.first-section div p:nth-child(1) {
    font-weight: bold;
}

.second-section div p:nth-child(1) {
    font-weight: bold;
}

.first-section div p:nth-child(2){
    
}

.second-section div:nth-child(n+1) {
    width: 25%;
    flex-direction: column;
}

.box {
    border: 1px solid #e0e0e0;
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.phone-section {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.phone-icon {
    margin-right: 10px;
}

.interest-section {
    border: 1px solid #e0e0e0;
    padding: 1rem;
    margin-bottom: 1.5rem;
    text-align: center;
}

.car-thumbnail {
    background-color: #e0e0e0;
    width: 100px;
    height: 60px;
    margin: 0 auto 1rem auto;
}

.contact-form input, .contact-form button {
    padding: 0.5rem;
    margin-bottom: 1rem;
}

.contact-form {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    padding: 0.5rem;
}

    .name-input {
        width: 100%;
        display:flex;
        justify-content: space-between;
    }

    .info-input {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .button-submit{
        width: 100%;
        display:flex;
        padding-top:20px;
        justify-content:center;
    }

.name-input input:nth-child(n+1) {
    width: 40%;
}

.top-features .top-features-header {
    font-weight: bold;
    padding-top: 50px;
}


.tags-container .tag {
    max-width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2596be;
    color: white;
    text-align: center;
    border-radius: 40px;
    padding: 0px 3px 0px 7px;
    margin-right: 15px;
    margin-bottom: 5px;
}

.tags-container .tag a {
        margin: 0 7px 3px;
        display: inline-block;
        cursor: pointer;
}

.tags-container {
    display: flex;
    width: 100px;
}

.sales-description .sales-description-header {
    font-weight: bold;
    padding-top: 50px;
}

.contact-form button {
    cursor: pointer;
    background-color: #007BFF;
    border: none;
    color: white;
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.info-header{
    display:flex;
    justify-content: space-between;
}

.car-detail-main {
    min-height: 100vh; /* Use min-height instead */
    margin-left: 200px;
    flex-basis: calc(60% - 10px);
    margin-right: 10px;
}

.contact-context {
    display: flex;
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: #f5f5f5;
}
.contact-image{
    width: 40%;
    margin-left:10px;
}

.contact-description{
    text-align:left;
}

.car-detail-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 100px;
}


.nameprice {
    font-weight: bold;
    font-size: 18px;
}


* {
    /*font-family: 'Montserrat', sans-serif;*/
}

.toggle_btn {
    margin-top: 15px;
    font-weight: 700;
    color: #ff406c;
    cursor: pointer;
    font-size: 15px;
    display: flex;
    align-items: center;
}

.arrow i {
    margin-left: 10px;
}

.narrow-section {
    width: 30%;
    margin-right:200px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

    .contact-form input,
    .contact-form button {
        margin-bottom: 10px;
    }