.footer {
    background-color: #333;
    color: white;
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px; /* You can adjust this value based on your design */
}
.footer-content p {
    padding: 0;
    margin: 5px;
}

.contact-info {
    display: flex;
    flex-direction: column;
}

/* Responsive styles */
@media (max-width: 600px) {
    .footer-content {
        flex-direction: column;
        text-align: center;
        gap: 1rem;
    }
}
