.pol-stolen-list-page {
    padding: 20px;
    padding-top: 200px;
    flex:1;
    background-color: ghostwhite;
}

.pol-stolen-top-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.add-pol-stolen-btn {
    background-color: #4CAF50; /* Green */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

    .add-pol-stolen-btn:hover {
        background-color: #45a049;
    }

.pol-stolen-search-filter-container {
    display: flex;
    align-items: center;
}


.pol-stolen-search-bar {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.pol-stolen-table {
    width: 100%;
    border-collapse: collapse;
}

.pol-stolen-table, .pol-stolen-table th, .pol-stolen-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

    .pol-stolen-table th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #4CAF50;
        color: white;
    }

    .pol-stolen-table td {
        vertical-align: middle;
        text-align: center;
    }

.pol-stolen-table tr:nth-child(2n+1){
    background-color: lightgray;
}
.pol-stolen-table tr{
    background-color: white;
}

.pol-stolen-spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    margin: 0 auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.pol-stolen-retry-btn {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 5px;
}

    .pol-stolen-retry-btn:hover {
        background-color: #2980b9;
    }

.pol-stolen-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1300;
}

.pol-stolen-modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    position: relative;
    width: 600px;
    height: 600px;
}

.pol-stolen-close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
}

.pol-stolen-inline-spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
    display: inline-block;
}

.pol-stolen-error {
    color: #d9534f;
}

.pol-stolen-form-columns {
    display: inline-flex;
    flex-direction: column;
    max-width: 150px;
    gap: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.pol-stolen-form-column {
    flex: 1;
    width: 90%;
    padding-bottom: 10px;
}

    .pol-stolen-form-column label,
    .pol-stolen-form-column input,
    .pol-stolen-form-column select {
        display: block;
        width: 100%;
        height: 20px;
        min-height: 20px
    }
.pol-stolen-form-column label{
    text-align: left;
}
.pol-stolen-model-add-btn {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
}

    .pol-stolen-model-add-btn:hover {
        background-color: #2980b9;
    }

