.unauthorized-page {
    text-align: center;
    padding: 150px;
    background-color: #f8d7da;
    color: #721c24;
    margin: 15px 0;
    border: 1px solid #f5c6cb;
    border-radius: 4px;
    margin-bottom:200px;
    margin-top:300px;
}

    .unauthorized-page h1 {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .unauthorized-page p {
        margin-bottom: 20px;
    }

    .unauthorized-page a {
        color: #721c24;
        text-decoration: underline;
    }
